@import url('https://fonts.googleapis.com/css?family=Codystar|Fredericka+the+Great|Londrina+Outline|Nanum+Gothic|Coiny|Fredoka+One');

html,
body {
  height: 100%;
}

body {
  margin: 33px;
  font-family: 'Nanum Gothic', sans-serif !important;
  font-size: 13px;
  line-height: 18px;
  padding-top: 5px;
  padding-bottom: 40px;
  /* background-color: #f5f5f5 */
  text: white;
  background-image: url('https://images.unsplash.com/photo-1521714161819-15534968fc5f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80') !important;
}/* '../images/raj-eiamworakul-603747-unsplash.jpg' */

h1 {
  font-family: 'Fredericka the Great', monospace;
  font-size: 8.5em !important;
  color: white;
  padding: 40px 0px 35px 50px;
}

label {
  text: white;
}

.login-form {
  padding: 10px 20px 10px 10px;
  background: white;
  border-radius: 5%;
  max-width: 320px;
  text: white;
  line-height: 120%;
}

#signin-header {
  font-size: 1.75em;
  font-family: 'Fredoka One', monospace;
}

#welcome {
  font-family: 'Coiny', monospace;
  font-size: 1.25em;
}
